# Ignore everything by default
/*

# Allow traversal into scripts/
!/scripts/

# Ignore everything inside scripts/ except R
/scripts/*
!/scripts/qmd/

# Keep everything inside scripts/R
!/scripts/R/**
.Rproj.user
